{% extends "base.html" %} {% block title %}로그인{% endblock %} {% block head %}
{{ super() }}
<script>
  function addToBuyer(user, name) {
    $.ajax({
      url: "/add-to-buyer",
      method: "POST",
      data: { user_give: user, name_give: name },
      success: (res) => {
        console.log(res);
      },
    });
  }
</script>
{% endblock %} {% block body %}
<div class="row">
  <div class="col-md-6">
    <img src="{{product_info.imgUrl}}" class="img-fluid" />
  </div>
  <div class="col-md-6">
    <h2>{{product_info.name}}</h2>
    <p><strong>Price:</strong> {{product_info.price}}</p>
    <button
      onClick="addToBuyer('{{current_user|safe}}', '{{product_info.name}}')"
      class="btn btn-primary"
    >
      참여하기
    </button>
  </div>
  <h1>참여자 목록</h1>

  <ul class="list-group">
    {% for buyer in product_info.buyer %}
    <li class="list-group-item">{{buyer}}</li>
    {% endfor%}
  </ul>
</div>
{% endblock %}