{% extends "base.html" %} {% block title %}메인페이지{% endblock %} {% block
head %} {{ super() }}
<script>
  $(document).ready(function () {
    showGroup();
    showCountDown();
    $(".carousel-item").first().addClass("active");

    // Add active class to clicked carousel item and remove from others
    $("#carousel-control-prev").click(function () {
      $(".active").prev().addClass("active");
      $(".active").next().removeClass("active");
    });

    $("#carousel-control-next").click(function () {
      $(".active").next().addClass("active");
      $(".active").prev().removeClass("active");
    });
  });

  // 상품 카테고리 보여주기
  function showGroup() {
    let all_group = [
      "fruit",
      "bakery",
      "drink",
      "meal",
      "necessity",
      "clothes",
      "skincare",
      "wash",
    ];

    for (i = 0; i < all_group.length; i++) {
      let temp_html = `
            <div type="button" onclick="showList('${all_group[i]}')" class="btn btn-primary d-inline-flex">${all_group[i]}
                <span class="close" onclick="deleteField(event)">
                    <i class="gg-close-my"></i>
                </span>
            </div>`;

      $("#product-category").append(temp_html);
    }
  }

  function showCountDown() {}

  function showList(category) {
    $("#item-name").html(category);
    $("#list-box").empty();

    $.ajax({
      type: "GET",
      url: `/list?keyword=${category}`,
      data: {},
      success: function (response) {
        let lists = response["lists"];
        for (let i = 0; i < lists.length; i++) {
          makeCard(
            lists[i]["name"],
            lists[i]["price"],
            lists[i]["imgUrl"],
            lists[i]["count"],
            lists[i]["likes"]
          );
        }
      },
    });
  }

  // likes 부분 CSS 설정하기
  function makeCard(name, price, imgUrl, count, likes) {
    console.log(name, price, imgUrl, count, likes);
    let temp = `
                      <li class="card-content list-group-item">
                        <a href='/detail/${name}'>
                          <div class="d-flex justify-content-between align-items-start">
                              <image class="product-image" src=${imgUrl}>
                              <div class="ms-2 me-auto">
                                  <div class="fw-bold">${name}</div>
                                      <p>가격: ${price}원</p>
                                      <p>모집인원: ${count}</p>
                              </div>
                              <span class="badge bg-primary rounded-pill">${likes}</span>
                          </div>
                          <footer class="card-footer">
                              <a class="card-footer-item has-text-info" onclick="likeit('${name}')">
                                  좋아요!
                                  <span class="icon">
                                      <i class="fa fa-thumbs-up fa-lg"></i>
                                  </span>
                              </a>
                              <a class="card-footer-item has-text-danger" onclick="dislike('${name}')">
                                  싫어요!
                                  <span class="icon">
                                      <i class="fa fa-thumbs-down fa-lg"></i>
                                  </span>
                              </a>
                          </footer>
                        </a>
                      </li>`;
    $("#list-box").append(temp);
  }
  function submitLink() {
    // url ajaxPOST 요청.
    let url = $("#url").val();
    let category = $("#category-id").val();
    let count = $("#count").val();
    $.ajax({
      type: "POST",
      url: "/submit",
      data: {
        url: url,
        category: category,
        count: count,
      },
      success: function (response) {
        if (response["return"] == "success") {
          alert("저장 완료!");
          window.location.reload();
        }
      },
    });
  }

  function likeit(name) {
    let itemName = $("#item-name").text();

    $.ajax({
      type: "POST",
      url: "/like",
      data: { name: name },
      success: function (response) {
        if (response["return"] == "success") {
          showList(itemName);
        }
      },
    });
  }
</script>
<style>
  #product-category {
    display: flex, inline;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 1em;
  }

  #product-category > button {
    margin: 10px;
    flex: 50%;
    box-shadow: 0 0 0 1px black;
    margin-bottom: 10px;
  }
</style>

{% endblock %} {% block body %}

<!-- 카테고리 그룹 2 row로 분리 -->
<div class="flex-container wrap" id="product-category"></div>

<!-- 카테고리 그룹 -->
<div class="list" id="product-category"></div>
{% import 'slides.html' as slides %} {{slides.slides(recommend_product_info)}}

<!-- 마감임박 리스트 -->

<!-- 해당 카테고리 -->
<div class="item-name" id="item-name"></div>
<!-- 상품리스트 -->
<div class="list" id="list-box"></div>
<ol class="list-group list-group-numbered">
  <!-- showCards -->
</ol>

{% endblock %}
