{% macro slides(recommend_product_info) -%}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {% for product in recommend_product_info %} {{ cards(name=product.name,
    price=product.price, count=product.count, imgUrl=product.imgUrl) }} {%
    endfor %}
  </div>
  <button
    id="carousel-control-prev"
    href="#carouselExampleIndicators"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button
    id="carousel-control-next"
    href="#carouselExampleIndicators"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
{%- endmacro %} {% macro cards(name, price, count, imgUrl) %}
<div class="carousel-item">
  <div class="d-flex justify-content-between align-items-start p-3">
    <image class="product-image" src="{{imgUrl}}" />
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{name}}</div>
      <p>가격: {{price}}원</p>
      <p>모집인원: {{count}}</p>
    </div>
    <span class="badge bg-primary rounded-pill">{{likes}}</span>
  </div>
</div>
{%- endmacro %}
